.loader {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  width: 90%;
}
.movies .movie {
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
  margin-bottom: 70px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}
.movies .movie:hover {
  transform: scale(1.05, 1.05);
}

.movies .movie img {
  position: relative;
  top: -40px;
  max-width: 120px;
  margin-right: 15px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.movie .movie__data {
  padding-right: 10px;
  padding-top: 20px;
}
.movie .movie__title {
  font-weight: 600;
  margin-bottom: 5px;
}
.movie .movie__year {
  margin-bottom: 5px;
  font-size: 0.813em;
  color: gray;
}
.movie .movie__genres {
  color: gray;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 0.813em;
}
.movie .movie__genres li {
  margin-right: 5px;
}
.movies .movie__summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.875em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .movies {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .movies {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .movies .movie {
    width: 100%;
  }
  .movies .movie img {
    max-width: 80px;
  }
  .movies .movie .movie__title {
    font-size: 0.8em;
  }
  .movies .movie .movie__year,
  .movies .movie .movie__genres {
    font-size: 0.7em;
  }
  .movies .movie__summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.7em;
  }
  .movie .movie__data {
    padding-top: 10px;
  }
}
